@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/roboto-v49-latin-regular.woff2") format("woff2"),
    url("./fonts/roboto-v49-latin-regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/roboto-v49-latin-500.woff2") format("woff2"),
    url("./fonts/roboto-v49-latin-500.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/roboto-v49-latin-600.woff2") format("woff2"),
    url("./fonts/roboto-v49-latin-600.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/roboto-v49-latin-700.woff2") format("woff2"),
    url("./fonts/roboto-v49-latin-700.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/roboto-v49-latin-900.woff2") format("woff2"),
    url("./fonts/roboto-v49-latin-900.woff") format("woff");
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0 auto;
  padding: 0;
  background-color: rgb(35, 34, 34);
}

header {
  margin: 0 auto;
  padding: 0;
}

.container {
  width: 1520px;
  padding: 0 20px;
  margin: 0 auto;
}

.site-section {
  background-image: url("./images/А\ 1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-ul {
  display: flex;
  gap: 40px;
  padding-left: 0;
  color: white;
  list-style-type: none;
}

.nav-li {
  list-style-type: none;
  text-decoration-line: none;
  color: white;
}

.nav-btns {
  display: flex;
  gap: 12px;
}

.nav-search {
  width: 55px;
  border-radius: 10px;
  border: 1px solid;
}

.nav-btn {
  width: 138px;
  border-radius: 10px;
  color: white;
  background-color: #3657cb;
  border: none;
}

.nav-btn:hover {
  background-color: transparent;
  border: 1px solid white;
}

.navbar2 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.box2-nav {
  display: flex;
  margin: 51px;
}

.nav-h1 {
  color: white;
  font-size: 35px;
  font-weight: 900;
}

.nav2-ul2 {
  display: flex;
  gap: 80px;
  color: gray;
  list-style-type: none;
}

.nav2-li1 {
  list-style-type: none;
  color: white;
  text-decoration-line: none;
}

.nav2-li2 {
  list-style-type: none;
  text-decoration-line: none;
  color: gray;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}

.card-p {
  color: yellow;
}

.card-h1 {
  color: white;
}

.site-btn {
  width: 200px;
  height: 71px;
  border: 2px solid #ffffff;
  color: white;
  border-radius: 10px;
  background-color: rgb(35, 34, 34);
}

.site-btn:hover {
  background-color: white;
  color: black;
}

.btn-site {
  text-align: center;
}

.iframes {
  display: flex;
  margin: 54px;
  justify-content: space-between;
  color: white;
}

.iframe-h1 {
  font-size: 65px;
  font-weight: 900;
}

.iframe-sp {
  display: flex;
  align-items: center;
  gap: 10px;
}

.iframe-sp::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("./images/Arrow\ 1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.videos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video-h1 {
  display: flex;
  align-items: center;
  gap: 30px;
}

.video-h1::after {
  content: "";
  width: 179px;
  height: 17px;
  background-image: url("./images/Поделиться.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video-info {
  display: flex;
  justify-content: space-between;
  color: white;
}

.coments {
  display: flex;
  gap: 30px;
}

.mini-videos {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.video-card {
  color: white;
}

.mini-cards {
  display: flex;
  justify-content: space-between;
}

.navbar3 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 200px;
}

.navbar4 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 20px;
}

.actors {
  display: flex;
  gap: 23px;
}

.actor1 {
  width: 444px;
  height: 444px;
  padding: 20px;
  background-image: url("./images/Фото\ \(2\).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

.actor2 {
  width: 444px;
  height: 444px;
  padding: 20px;
  background-image: url("./images/Фото\ \(3\).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

.actor1-name {
  color: white;
  margin: 0;
}

.actor1-eng-name {
  color: gray;
  margin: 0;
}

.actor1-age {
  margin: 0;
  color: yellow;
}

.news-card1 {
  width: 1090px;
  height: 765px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-image: url("./images/Фото\ \(4\).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

.news-card2 {
  display: flex;
  width: 270px;
  height: 180px;
  background-image: url("./images/image\ 4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

.news-card3 {
  display: flex;
  width: 270px;
  height: 180px;
  background-image: url("./images/Фото\ \(4\).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

.news-card4 {
  display: flex;
  width: 270px;
  height: 180px;
  background-image: url("./images/image\ 4\ \(1\).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

.news-card5 {
  display: flex;
  width: 270px;
  height: 180px;
  background-image: url("./images/image\ 4\ \(2\).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

.cards-new {
  display: flex;
  gap: 16px;
}

.new-cards {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.film-news-nav {
  display: flex;
  justify-content: space-between;
  color: white;
}

.film-news-sp {
  margin: 20px;

  display: flex;
  align-items: center;
  gap: 12px;
}

.film-news-sp::after {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("./images/Arrow\ 2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.film-news-sp::before {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("./images/Arrow\ 3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mln13 {
  margin: 0;
}

.mln15 {
  margin: 0;
}

.minis-card1 {
  display: flex;
  align-items: center;
}

.minis-card1-info {
  padding-left: 11px;
}

.cards-mini {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.navbar33 {
  margin: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  color: white;
  height: 545px;
  background-image: url("./images/Фон.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
}

.wrapper-inp {
  width: 425px;
  height: 71px;
  border-radius: 10px;
  text-align: center;
  border: none;
}

.wrapper-inp:hover {
  background-color: transparent;
}

.wrapper-btn {
  color: black;
  background-color: yellow;
  width: 182px;
  height: 71px;
  border-radius: 10px;
  border: none;
}

.wrapper-btn:hover {
  background-color: transparent;
}

.logoss {
  display: flex;
  margin: 30px;
  justify-content: center;
  color: gray;
}

.naav {
  margin: 0 auto;
}

.naaav {
  display: flex;
}

.nav2-ul3 {
  display: flex;
  gap: 50px;
  text-align: center;
  list-style-type: none;
  padding-left: 0;
}

.last-logo {
  width: fit-content;
  margin: 0 auto;
}

.wr-ch {
  margin: 20px;
}
